<div class="search-options">
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select [(value)]="status" (selectionChange)="applyFilter(0,12)">
        <mat-option value="sale">For Sale</mat-option>
        <mat-option value="rent">For Rent</mat-option>
      </mat-select>
    </mat-form-field>
    <span>&nbsp;&nbsp;&nbsp;</span> 
    <mat-form-field appearance="outline">
        <mat-label>States</mat-label>
        <mat-select (selectionChange)="onStateChange($event)" [(ngModel)]="stateId">
          <mat-option *ngFor="let state of states" [value]="state.id">{{ state.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <span>&nbsp;&nbsp;&nbsp;</span> 
      <mat-form-field appearance="outline">
        <mat-label>City</mat-label>
        <mat-select [disabled]="!stateSelected" [(ngModel)]="cityId" (selectionChange)="applyFilter(0,12)">
          <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <span>&nbsp;&nbsp;&nbsp;</span>   <label>Price</label>   <span>&nbsp;&nbsp;&nbsp;</span> 
      <mat-form-field class="price">
        <input type="text" matInput placeholder="No Min" [matAutocomplete]="auto1" [(ngModel)]="minPrice" (input)="applyFilter(0,12)">
        <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="applyFilter(0,12)">
          <mat-option *ngFor="let value of min" [value]="value">
            {{ value }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <span>&nbsp;-&nbsp;</span>
      <mat-form-field class="price">
        <input type="text" matInput placeholder="No Max" [matAutocomplete]="auto2" [(ngModel)]="maxPrice" (input)="applyFilter(0,12)">
        <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="applyFilter(0,12)">
          <mat-option *ngFor="let value of max" [value]="value">
            {{ value }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <mat-form-field appearance="outline" class="short-select">
        <mat-label>Bedrooms</mat-label>
        <mat-select [(ngModel)]="bedrooms" (selectionChange)="applyFilter(0,12)">
          <mat-option value="0">Any</mat-option>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4</mat-option>
          <mat-option value="5">5+</mat-option>
        </mat-select>
      </mat-form-field>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <mat-form-field appearance="outline" class="short-select">
        <mat-label>Bathrooms</mat-label>
        <mat-select [(ngModel)]="bathrooms" (selectionChange)="applyFilter(0,12)">
          <mat-option value="0">Any</mat-option>
          <mat-option value="1">1</mat-option>
          <mat-option value="2">2</mat-option>
          <mat-option value="3">3</mat-option>
          <mat-option value="4">4+</mat-option>
        </mat-select>
      </mat-form-field>   
</div>
<div class="property-list">
  <mat-card *ngFor="let property of properties" (click)="viewPropertyDetails(property.id)">
    <mat-card-header>
        <img mat-card-image [src]="property.photos[0].filepath" alt="Property Photo" class="property-image">
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>{{ property.price }} DT</mat-card-title>
      <mat-card-subtitle>{{ property.bedrooms }} bds | {{ property.bathrooms }} ba | {{property.size}} &#13217; | for {{property.status}}
       <br> {{property.city.name}}, {{property.city.state.name}}
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
<br>
<div *ngIf="totalElements > 12" class="pagination-container">
<pagination [(ngModel)]="currentPage" [totalItems]="totalElements" [itemsPerPage]="12" (pageChanged)="pageChanged($event)" [maxSize]="maxSize"></pagination>
</div>
<div  class="text-center">
  <p>Found {{totalElements}} matching properties</p>
 <span *ngIf="totalElements==0"> <p>Edit or remove these filters for best results.</p></span>
</div>
  