.container {
    display: flex;
    justify-content: center; /* horizontally center the container */
    align-items: flex-start; /* align the container to the top */
    margin-top: 120px;
    margin-bottom: 20px; /* add some spacing at the bottom */
  }
  

  