<div class="container">
    <div>
        Let’s find a home that’s perfect for you <br>
      <mat-form-field appearance="outline">
        <mat-label>Category</mat-label>
        <mat-select>
          <mat-option value="sale">For Sale</mat-option>
          <mat-option value="rent">For Rent</mat-option>
        </mat-select>
      </mat-form-field>
      <span>&nbsp;&nbsp;&nbsp;</span> 
      <mat-form-field appearance="outline">
        <mat-label>States</mat-label>
        <mat-select (selectionChange)="onStateChange($event)">
          <mat-option *ngFor="let state of states" [value]="state.id">{{ state.name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <span>&nbsp;&nbsp;&nbsp;</span>
      <ng-container *ngIf="stateSelected">
        <mat-form-field appearance="outline">
          <mat-label>City</mat-label>
          <mat-select [(ngModel)]="cityId">
            <mat-option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <span>&nbsp;&nbsp;&nbsp;</span>
      </ng-container>
      <button mat-raised-button color="primary">
        Search
      </button>
      
    </div>
  </div>
  