<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="6">
          <span class="clearfix">
            <h1 class="float-start display-3 me-4">403</h1>
            <h4 class="pt-3">Access Denied!</h4>
            <p class="text-medium-emphasis float-start">
              You do not have permission to access this page.
            </p>
          </span>
        </c-col>
      </c-row>
    </c-container>
  </div>
  