<h1>Saved properties</h1>
<div class="property-list">
  <mat-card class="pointer" *ngFor="let property of favorites.content" (click)="viewPropertyDetails(property.id)">
    <mat-card-header>
      <div class="favorite-icon" (click)="removeFromFavorites(property); $event.stopPropagation()">
        <mat-icon>favorite</mat-icon>
      </div>
        <img mat-card-image [src]="property.filePath" alt="Property Photo" class="property-image">
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>{{ property.price }} DT</mat-card-title>
      <mat-card-subtitle>{{ property.bedrooms }} bds | {{ property.bathrooms }} ba | {{property.size}} &#13217; | for {{property.status}}
       <br> {{property.cityName}}, {{property.stateName}}
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
<br>
<div *ngIf="totalElements > 12" class="pagination-container">
  <pagination [(ngModel)]="currentPage" [totalItems]="totalElements" [itemsPerPage]="12" (pageChanged)="pageChanged($event)" [maxSize]="maxSize"></pagination>
  </div>
  <div  class="text-center">
    <p>{{totalElements}} Saved properties.</p>
   <span *ngIf="totalElements==0"> <p>Whenever you find property you like, select the <mat-icon>favorite_border</mat-icon> to save them here.</p></span>
  </div>
  