:host {
    .legend {
      small {
        font-size: x-small;
      }
    }
  }
  
  .mat-table {
    overflow-x: auto;
  
    @media only screen and (max-width: 600px) {
      font-size: 12px;
  
      th, td {
        padding: 8px 4px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  
    @media only screen and (min-width: 601px) and (max-width: 959px) {
      font-size: 14px;
  
      th, td {
        padding: 12px 8px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  
    @media only screen and (min-width: 960px) {
      font-size: 16px;
  
      th, td {
        padding: 16px 12px;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  
