:host {
    .legend {
      small {
        font-size: x-small;
      }
    }
  }
  
  .container {
    padding: 16px;
  
    @media (max-width: 600px) {
      padding: 8px;
    }
  }
  
  .table-container {
    overflow-x: auto;
  
    @media (max-width: 600px) {
      max-width: 100%;
    }
  }
  