.container {
  display: flex;
}

.photo-gallery {
  flex: 1;
  order: 1; /* Change the order for smaller screens */
  margin-right: 20px;
  text-align: center;
}

.property-details {
  flex: 1;
  order: 2; /* Change the order for smaller screens */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .photo-gallery {
    margin-right: 0;
    margin-bottom: 20px;
    order: 2; /* Change the order for smaller screens */
  }

  .property-details {
    order: 1; /* Change the order for smaller screens */
  }
}


.primary-photo {
  text-align: center;
  width: 100%;
  margin-bottom: 10px;
}

.primary-photo img {
  max-width: 600px;
  max-height: 400px;
  min-width: 600px;
  min-height: 400px;
}

.thumbnail-photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.thumbnail-photos .thumbnail-item {
  width: 100px; /* Adjust the width as per your needs */
  height: 100px; /* Adjust the height as per your needs */
  margin: 5px;
  cursor: pointer;
}

.thumbnail-photos .thumbnail-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.description {
  .multiline {
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3; // Set the desired number of lines to display
    -webkit-box-orient: vertical;
  }
}

.favorite-icon {
  display: flex;
  align-items: center;
}

.favorite-icon mat-icon,
.favorite-icon a {
  color: blue;
  cursor: pointer;
}