<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col md="8">
          <c-card-group>
            <c-card class="p-4">
              <c-card-body>
                <form
            
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
                  <h1>Login</h1>
                  <p class="text-medium-emphasis">Sign In to your account</p>
                  <c-input-group class="mb-3">
                    <span cInputGroupText>
                      <svg cIcon name="cilUser"></svg>
                    </span>
                    <input
                    type="text"
                    class="form-control"
                    name="username"
                    [(ngModel)]="form.username"
                    required
                    #username="ngModel"
                    placeholder="Username"
                    [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
                  />
                  <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
                    Username is required!
                  </div>
                
                  </c-input-group>
                  <c-input-group class="mb-4">
                    <span cInputGroupText>
                      <svg cIcon name="cilLockLocked"></svg>
                    </span>
                    <input
                    type="password"
                    class="form-control"
                    name="password"
                    [(ngModel)]="form.password"
                    required
                    minlength="6"
                    placeholder="Password"
                    #password="ngModel"
                    [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
                  />
                  <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
                    <div *ngIf="password.errors['required']">Password is required</div>
                    <div *ngIf="password.errors['minlength']">
                      Password must be at least 6 characters
                    </div>
                  </div>
                  </c-input-group>
                  <c-row>
                    <c-col xs="6">
                      <button class="px-4" color="primary">
                        Login
                      </button>
                    </c-col>
                    <c-col class="text-right" xs="6">
                      <button cButton class="px-0" color="link" routerLink="/PasswordRecovery">
                        Forgot password?
                      </button>
                    </c-col>
                  </c-row>
                  <div class="form-group">
                    <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                    </div>
                  </div>
                </form>
              </c-card-body>
            </c-card>
            <c-card [ngStyle]="{'width.%': 44}" class="text-white bg-primary py-5">
              <c-card-body class="text-center">
                <div>
                  <h2>Sign up</h2>
                  <br>
             <!--     <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                    tempor incididunt ut labore et dolore magna aliqua.
                  </p>  -->
                  <button [active]="true" cButton class="mt-3" color="primary" routerLink="/register">
                    Register Now!
                  </button>
                </div>
              </c-card-body>
            </c-card>
          </c-card-group>
        </c-col>
      </c-row>
    </c-container>
  </div>
  