<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
    
                <h1>Password Recovery</h1>
                <p class="text-medium-emphasis">Create your account</p>





                  <mat-stepper [linear]="isLinear" #stepper  id="stepper">
                    <mat-step  [completed]="step1Complete">
                      <form >
                        <ng-template matStepLabel>Enter your email.</ng-template>
                        <mat-form-field>
                          <mat-label>Email</mat-label>
                          <input matInput placeholder="Email"  [(ngModel)]="email" required type="email" name="email">
                        </mat-form-field>
                        <div>
                          <button mat-button matStepperNext (click)="initiatePasswordReset(email)" >Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step  label="Please enter the code" [completed]="step2Complete">
                      <form >
                        <mat-form-field>
                          <mat-label></mat-label>
                          <input matInput  placeholder="Password reset code"  [(ngModel)]="resetCode"  name="resetCode" required>
                        </mat-form-field>
                        <div *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</div>
                        <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext (click)="checkResetCode()">Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      <p>You are now done.</p>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                      </div>
                    </mat-step>
                  </mat-stepper>
                  





















  
              <div class="alert alert-success" *ngIf="">
                Your registration is successful!
              </div>
  
  
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
  </div>
  