<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
    <c-container>
      <c-row class="justify-content-center">
        <c-col lg="7" md="9" xl="6">
          <c-card class="mx-4">
            <c-card-body class="p-4">
    
                <h1>Password Recovery</h1>
                <p class="text-medium-emphasis">Create your account</p>





                  <mat-stepper [linear]="isLinear" #stepper>
                    <mat-step [stepControl]="firstFormGroup">
                      <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Enter your email.</ng-template>
                        <mat-form-field>
                          <mat-label>Email</mat-label>
                          <input matInput placeholder="Email" formControlName="firstCtrl" required type="email">
                        </mat-form-field>
                        <div>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" label="Fill out your address">
                      <form [formGroup]="secondFormGroup">
                        <mat-form-field>
                          <mat-label>Address</mat-label>
                          <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                                 required>
                        </mat-form-field>
                        <div>
                          <button mat-button matStepperPrevious>Back</button>
                          <button mat-button matStepperNext>Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step>
                      <ng-template matStepLabel>Done</ng-template>
                      <p>You are now done.</p>
                      <div>
                        <button mat-button matStepperPrevious>Back</button>
                        <button mat-button (click)="stepper.reset()">Reset</button>
                      </div>
                    </mat-step>
                  </mat-stepper>
                  





















  
              <div class="alert alert-success" *ngIf="">
                Your registration is successful!
              </div>
  
  
            </c-card-body>
          </c-card>
        </c-col>
      </c-row>
    </c-container>
  </div>
  