<h2>Saved searches</h2>


<div>
    <mat-list *ngFor="let savedSearch of savedSearches">
        <mat-list-item class="item-background">

<a (click)="applyFilter(savedSearch, $event)" href="#">
  For {{ savedSearch.status }}
  <ng-container *ngIf="savedSearch.city && savedSearch.city.name; else fallback">
    in {{ savedSearch.city.name }} 
  </ng-container>
  <ng-template #fallback>
    in {{ savedSearch.state.name }} 
  </ng-template>
</a>
<br>
          For {{ savedSearch.status }}
          <ng-container *ngIf="savedSearch.city && savedSearch.city.name; else fallback">
            in {{ savedSearch.city.name }} 
          </ng-container>
          <ng-template #fallback>
            in {{ savedSearch.state.name }} 
          </ng-template>

              <!-- Price range display -->
    <ng-container *ngIf="savedSearch.minPrice && !savedSearch.maxPrice">
       : {{ savedSearch.minPrice }}DT +
      </ng-container>
      <ng-container *ngIf="!savedSearch.minPrice && savedSearch.maxPrice">
        : No Min - {{ savedSearch.maxPrice }}DT
      </ng-container>
      <ng-container *ngIf="savedSearch.minPrice && savedSearch.maxPrice">
        : {{ savedSearch.minPrice }}DT - {{ savedSearch.maxPrice }}DT
      </ng-container>


      <mat-icon class="delete-icon" matTooltip="Delete" (click)="deleteSavedSearch(savedSearch.id)">delete</mat-icon>
        </mat-list-item>
      </mat-list>
  </div>
  <br>
<div *ngIf="totalElements > 10" class="pagination-container">
  <pagination [(ngModel)]="currentPage" [totalItems]="totalElements" [itemsPerPage]="10" (pageChanged)="pageChanged($event)" [maxSize]="maxSize"></pagination>
  </div>