form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
  }
  
  mat-form-field {
    width: 100%;
    max-width: 400px;
    margin-bottom: 20px;
  }
  
  button {
    margin-top: 20px;
  }

  .custom-form-field{
    color: white;
  }

  
  re-captcha.is-invalid > div {
    border: 1px solid #dc3545 !important;
    border-radius: 0.2rem;
  }