<mat-toolbar color="primary">
    <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
    <div  fxHide.xs     >
        <ul fxLayout fxLayoutGap="15px" class="navigation-items">
            <li>
                <a routerLink="/owner">Buy</a>
            </li>
            <li>
                <a routerLink="/account">Rent</a>
            </li>
            <li>
                <a routerLink="/account">Sell</a>
            </li>
        </ul>
    </div>
<div > 
    <a routerLink="/home"  >Real Estate</a>
</div>
<div fxLayoutAlign="space-between">
    <a routerLink="login"  >Sign in</a> &nbsp;&nbsp;
    <a routerLink="register"  >Sign up</a> &nbsp;&nbsp;

    <span class="navbar-nav ml-auto" *ngIf="isLoggedIn">
      
        <span class="nav-item">
          <a href class="nav-link" (click)="logout()">LogOut</a>
        </span>
    </span>
</div>
</div>

  </mat-toolbar>