<h1>Your properties</h1>
<div class="property-list">
  <mat-card class="pointer" *ngFor="let property of propertiesPage" (click)="viewPropertyDetails(property.id)">
    <mat-card-header>
        <img mat-card-image [src]="property.filePath" alt="Property Photo" class="property-image">
    </mat-card-header>
    <mat-card-content>
      <mat-card-title>{{ property.price }} DT</mat-card-title>
      <mat-card-subtitle>{{ property.bedrooms }} bds | {{ property.bathrooms }} ba | {{property.size}} &#13217; | for {{property.status}}
       <br> {{property.cityName}}, {{property.stateName}}
       <br>
       <div class="center-div">
       <button class="custom-button" mat-stroked-button color="primary" (click)="updateProperty(property.id); $event.stopPropagation()">Edit</button>
       <button class="custom-button" mat-stroked-button color="primary" (click)="deleteProperty(property.id); $event.stopPropagation()">Delete</button>
      </div>
      </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
<br>
<div *ngIf="totalElements > 12" class="pagination-container">
  <pagination [(ngModel)]="currentPage" [totalItems]="totalElements" [itemsPerPage]="12" (pageChanged)="pageChanged($event)" [maxSize]="maxSize"></pagination>
  </div>
  